
// $bronze: #df6123;
$green: #27b50b;
$white: #fff;
$primary-color: #1a2010;
$secondary-color: #247f17;
$heroHeight: 800px;
$white-color: #fff;

$dark-grey: #4a4848;

$dark-blue-text: #1d1361; // For Headings

// FONT SIZE
$default-font-size: 1.0rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
