#hero {
  // min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  // background: $white;
  font-weight: 400;
  // color: $bronze;
  // padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    // padding: 0rem $default-font-size;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    // font-size: 5.6rem;
    font-weight: 700;
    // margin-bottom: 3.2rem;
    // text-align: left;
    // position: absolute;
    // top: 60%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    color: $white;
    // font-family: 'Montserrat', sans-serif;
    font-size: 3.0rem;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.4),
                   0px -5px 35px rgba(255,255,255,0.3);

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.2rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 2.2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 1.8rem;
    }
  }

  .hero-cta {
    display: flex;
    margin-top: 13rem;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 1.4rem;

      @include respond(phone) {
        // font-size: 2rem;
      }
    }
  }
  
}

// .hero-line {
//   display: block;
//   position: absolute;
//   // animation-fill-mode: both;
//   // animation-duration: 2000ms;
//   // animation-delay: 2000ms;
//   // animation-name: react-rev-1;
//   bottom: 0px;
//   left: 42px;
//   height: 36rem;
//   width: 2px;
//   background: $white;
//   opacity: 0.2;
//   // animation: 2s ease-out 0s infinite normal none paused jmjIzw;
//   // transform-origin: center bottom;
//   // transform: rotate(90deg);
// }
.wrapper {
  margin-left: 2rem;
}

.scroll-btn {
  // position: absolute;
  border: none;
  //  bottom: 0rem;
  padding-left: 8rem;
  // left: 4rem;
  // height: 10rem;
  width: 8rem;
  background: none;
  color: $white;
  // opacity: 0.2;
  display: flex;
  font-size: 0.8rem;
  transition: transform 2s;
  transform: rotate(90deg);

  // &:hover {
  //   // -webkit-text-fill-color: $white-color;
  //   text-decoration: none;
  //   cursor: pointer;
  //   transform: translate(40px, 80px) rotate(0deg);
  // }
   span {
      color:$white;
      transition: transform 2s ease-out;
      white-space: nowrap;
        
      &:hover {
        text-decoration: none;
        color: $white;
        // cursor: pointer;
        transition: transform 2s ease-out;
        transform: translateX(30px);
        
        // transform: rotate(90deg);
      }
    
    }
  




}

.hero-line {
  // display: block;
  // position: absolute;
  bottom: 0px;
  left: 42px;
  height: 36rem;
  width: 1px;
  background: $white;
  // opacity: 0.2;
  animation: 2s ease-out 0s infinite normal none paused jmjIzw;
  // transform-origin: center bottom;

}

.line {
  height:0px;
  width:1px;
  border-bottom:1px solid $white;
  margin-bottom: 1rem;
  -webkit-animation: increase 3s;
  -moz-animation:    increase 3s; 
  -o-animation:      increase 3s; 
  animation:         increase 3s; 
  animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) { 
  #hero {
    height: 80vh;
    // margin-top: -10rem;
  }
  .hero-line {
    height: 24rem;
    // margin-left: -2rem;
  }
  .scroll-btn {
    margin-left:-2rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 576px) { 
  #hero {
    height: 80vh;
    // margin-top: -10rem;
  }
  .hero-line {
    height: 24rem;
    // margin-left: -2rem;
  }
  .scroll-btn {
    margin-left:-2rem;
    font-size: 0.4rem;
  }
}