// #hero {
// 	height: $heroHeight;
// 	overflow: hidden;
// 	position: relative;
// }
#content {
  background-color: $green;
  height: 100vh;
  margin: 1rem;
  padding: 1rem;
}
.layer {
  background-position: 
  // bottom 
  center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: $heroHeight;
	position: fixed;
	z-index: -1;
}

// #hero-mobile {
// 	display: none;
// 	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png") no-repeat center bottom / cover;
// 	height: 320px;
// }

.first-section {
	padding: 50px 0 20px 0;
}
.text-header {
	font-size: 50px;
	text-align: center;
}
h1 {
	line-height: 120%;
	margin-bottom: 30px;
}
p {
	color: #ede0d5;
	font-size: 18px;
	line-height: 150%;
}

.layer {
	min-height: 100vh;
}

.layer-bg {
  // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg');
  background-image: url('../images/mo7.png');
  background-repeat: no-repeat;
  // background-position: center bottom;
}
.layer-1 {
  background-image: url('../images/mo5.png');
  background-repeat: no-repeat;
	// background-position: left bottom;
}
.layer-2 {
  background-image: url('../images/mo4.png');
  background-repeat: no-repeat;
  // background-position: right bottom;
}
.layer-3 {
  background-image: url('../images/mo3.png');
  background-repeat: no-repeat;
	// background-position: right bottom;
}
.layer-4 {
  background-image: url('../images/mo2.png');
  background-repeat: no-repeat;
}
// .layer-5 {
//   background-image: url('../images/mo2.png');
//   background-repeat: no-repeat;
// }
.layer-overlay {
  background-image: url('../images/mo1.png');
  background-repeat: no-repeat;
}

.title{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  // font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.4),
                 0px -5px 35px rgba(255,255,255,0.3);
  // text-shadow: 2px 4px 3px rgba(0,0,0,0.8);
  // animation-fill-mode: both;
  //   animation-duration: 1000ms;
  //   animation-delay: 500ms;
  //   animation-iteration-count: 1;
  //   opacity: 1;
  //   animation-name: parallax-title;
}
.second-line {
  padding-top: 3rem;
  top: 65%;
  font-weight: 700;
}


@media only screen and (max-width: 768px) { 
  .layer {
    height: 76vh;
  }
	.layer-bg, .layer-1, .layer-2, .layer-3, .layer-4, .layer-5, .layer-overlay, .layer {
    background-position: 26% bottom;
    // background-size: 800px 650px;
    height: fit-content;
  }
}
